<div class="container">
  <div class="row">
    <h2>Bookshelf</h2>
    <form action="/" method="get" class="form-inline">
      <div class="form-group">
      <input class="form-control input-lg" type="search" placeholder="Book Search..." name="q" />
      </div>
      <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-search"></i> Search</button>
    </form>
  </div>

  <% if @books.empty? %>
    <div class="null-state">
      <p>Sorry, no matches found <i class="fa fa-frown-o"></i></p>
    </div>
  <% end %>

  <% @books.each do |book| %>
  <div class="row book">
    <div class="col-sm-2">
      <% if book.image_url.present? %>
        <p><%= image_tag book.image_url, class: "img-thumbnail" %></p>
      <% end %>
      <%= star_rating(book) %>
    </div>
    <div class="col-sm-10">
      <h3><%= book.title %></h3>
      <p><%= book.authors %></p>
      <p><%= book.description %></p>
    </div>
  </div>
  <hr>
  <% end %>
</div>

