form {
  text-align: center;
  margin-bottom: 20px;
}

.book {
  margin-bottom: 20px;

  h3 {
    margin-top: 0;
  }
}

.book-rating {
  padding: 2px;
  margin-top: 5px;
  text-align: center;
}

.null-state p {
  text-align: center;
  font-size: 1.5em;
}
